input[type="text"], input[type="submit"], .enabled{
    border: 1px solid #666666;
    border-radius: 5px;
}
::-webkit-input-placeholder {
    text-align: center;
}
.input-wrapper{
    border: 1px solid #666666;
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgba(30,34,45,0.09);
}
.table-wrapper{
    border: 1px solid #666666;
    border-radius: 5px;
    width: 100%;
    background-color: rgba(30,34,45,0.09);
}
.button{
    border: 1px solid #666666;
    border-radius: 5px;
    background-color: rgba(25,30,38,0.09);
    text-align: center;
}
.navigation-bar{
    border: 1px solid #666666;
    border-radius: 5px;
    background-color: rgba(30,34,45,0.09);
}
#left{
    justify-content: left;
}
.active{
    color: darkslategrey;
}
.nav-link:hover{
    color: darkslategrey;
}
.disabled{
    color: darkgray;
    border-color: darkgray;
    border: 1px solid;
    border-radius: 5px;
}
.actions-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.table-column-input{
    width: 100%;
    border: none!important;
    background: transparent;
}
ul{
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
}
li:hover{
    background-color: #f0f0f0;
    box-shadow: 0px 0px 16px 4px #f0f0f0;
    cursor: pointer;
}
